##ANTLR files
#lerxerEsquemas.g
LexerEsquemas.smap
LexerEsquemas.java
LexerEsquemasTokenTypes.txt
LexerEsquemasTokenTypes.java

#parserEsquemas.g
ParserEsquemas.smap
ParserEsquemas.java
ParserEsquemasTokenTypes.txt
ParserEsquemasTokenTypes.java

#compruebaFicheros.g
CompruebaFicheros.smap
CompruebaFicheros.java
CompruebaFicherosTokenTypes.txt
CompruebaFicherosTokenTypes.java

#lerxerEsquemas.g
LexerDatos.smap
LexerDatos.java
LexerDatosTokenTypes.txt
LexerDatosTokenTypes.java

#parserDatos.g
ParserDatos.smap
ParserDatos.java
ParserDatosTokenTypes.txt
ParserDatosTokenTypes.java

#generaFicheros.g
GeneraFicheros.smap
GeneraFicheros.java
GeneraFicherosTokenTypes.txt
GeneraFicherosTokenTypes.java

#lerxerConsultas.g
LexerConsultas.smap
LexerConsultas.java
LexerConsultasTokenTypes.txt
LexerConsultasTokenTypes.java

#parserConsultas.g
ParserConsultas.smap
ParserConsultas.java
ParserConsultasTokenTypes.txt
ParserConsultasTokenTypes.java

#generaConsultas.g
GeneraConsultas.smap
GeneraConsultas.java
GeneraConsultasTokenTypes.txt
GeneraConsultasTokenTypes.java

#compruebaCamposConsultas.g
CompruebaCamposConsultas.smap
CompruebaCamposConsultas.java
CompruebaCamposConsultasTokenTypes.txt
CompruebaCamposConsultasTokenTypes.java

#filtraFichero.g
FiltraFichero.smap
FiltraFichero.java
FiltraFicheroTokenTypes.txt
FiltraFicheroTokenTypes.java

#nombraAtributos.g
NombraAtributos.smap
NombraAtributos.java
NombraAtributosTokenTypes.txt
NombraAtributosTokenTypes.java

##Eclipse files
.antlr-eclipse
.classpath
.project
.settings/
bin

##Vim files
.*.swp
