##ANTLR files
#lerxerEsquemas.g
LexerEsquemas.smap
LexerEsquemas.java
LexerEsquemasTokenTypes.txt
LexerEsquemasTokenTypes.java

#parserEsquemas.g
ParserEsquemas.smap
ParserEsquemas.java
ParserEsquemasTokenTypes.txt
ParserEsquemasTokenTypes.java

#evaluadorEsquemas.g
EvaluadorEsquemas.smap
EvaluadorEsquemas.java
EvaluadorEsquemasTokenTypes.txt
EvaluadorEsquemasTokenTypes.java

##Eclipse files
.antlr-eclipse
.classpath
.project
.settings/
bin

##Vim files
.*.swp
