##Analex files
Analex.smap
Analex.java
AnalexTokenTypes.txt
AnalexTokenTypes.java

Anasint.smap
Anasint.java
AnasintTokenTypes.txt
AnasintTokenTypes.java

Evaluador.smap
Evaluador.java
EvaluadorTokenTypes.txt
EvaluadorTokenTypes.java

##Eclipse files
.antlr-eclipse
.classpath
.project
.settings/
bin

##Vim files
.*.swp
